@mixin flex {
    display: -webkit-flex;
    display: flex;
}

@mixin flex-column-center {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}


@mixin flex-center {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

